<%= stylesheet_link_tag 'categoryIndex' %>


    <header>
        <div class="logo">Transaction</div>
        <nav>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
            <div class="mobile-nav">
                <i class="menu-icon fas fa-bars"></i>
            </div>
        </nav>
    </header>
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        const menuIcon = document.querySelector('.menu-icon');
        const navUl = document.querySelector('nav ul');
        
        menuIcon.addEventListener('click', () => {
            menuIcon.classList.toggle('active');
            navUl.classList.toggle('active');
        });
    </script>

<h1>Groups</h1>

<ul>
<% @groups.each do |group| %>
<%= link_to group_entities_path(group) do %>
<li class="group-card">
    <div>
        <img src=<%= group.icon %> />
        <span><%= group.name %></span>
    </div>
    <span><%= group.entities.sum(:amount) %> $</span>
</li>
    <% end %>
<% end %>
</ul>
