<%= stylesheet_link_tag 'categoryIndex' %>


    <header>
        <div class="logo">Transaction</div>
    </header>

<h1>Groups</h1>

<ul>
<% @groups.each do |group| %>
<%= link_to group_entities_path(group) do %>
<li class="group-card">
    <div>
        <img src=<%= group.icon %> />
        <span><%= group.name %></span>
    </div>
    <span><%= group.entities.sum(:amount) %> $</span>
</li>
    <% end %>
<% end %>
</ul>

  <div class="center">
    <%= link_to "Add a new Group", new_group_path(@group), class: "add" %>
  </div>
